# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.env

# Django
db.sqlite3
/media/
/staticfiles/
*.log

# Node / JS (اگر از npm یا yarn استفاده شد)
node_modules/
package-lock.json
yarn.lock

# IDE
.vscode/
.idea/
*.swp
